 .theme-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8.4rem, 1fr));
    margin-top: 1rem;
    gap: .5rem;
}


.theme-choice {
    width: 8.4rem; 
    height: 6.4rem; 
    border-radius: .5rem;
    background-color: var(--shape-button);
    cursor: pointer; 
    border: 2px solid transparent;
    position: relative;
    padding: .25rem;
    text-align: center;
    justify-items: center;
    cursor: pointer; 

    & img {
        max-width: 7.6rem;
        border-radius: .4rem;
        margin-bottom: .3rem;
    }

    & label {
        color: var(--text-heading);
        font: var(--body-sm);
    }

    &:hover, &:focus-within {
        border-color: var(--brand-light);
    }

    
}



input[type="radio"]:checked + .theme-choice {
    border-color: var(--brand-light);
}