@import url(fields/index.css);

form {
    margin-top: 3rem;
}

fieldset {
    border: none;
    
    .input-wrapper {
        margin-top: 1rem;
    }
}

legend {
    font: var(--header-sm);
    color: var(--text-heading);
    display: flex;
    align-items: center;
    gap: .8rem;
    margin-bottom: .6rem;
}

fieldset + fieldset {
    margin-top: 3rem;
}

input[type="radio"] {
    display: none; 
}